In [1]:
# Tạo trang R trên colab: https://colab.research.google.com/notebook#create=true&language=r
a = 5
b = 7
c = a + b

In [2]:
fruit = c("a",'b','c')

In [3]:
print(fruit)

[1] "a" "b" "c"

In [4]:
print(c)

[1] 12

**Exercise 1: Tạo dataframe**

In [5]:
Name <- c("Alex", "Lilly", "Mark", "Oliver", "Martha", "Lucas", "Caroline")
Age <- c(25, 31, 23, 52, 76, 49, 26)
Height <- c(177, 163, 190, 179, 163, 183, 164)
Weight <- c(57, 69, 83, 75, 70, 83, 53)
Sex <- as.factor(c("F", "F", "M", "M", "F", "M", "F"))
df <- data.frame (row.names = Name, Age, Height, Weight, Sex)
print(df)

         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [6]:
print(paste("Levels of Sex:",toString(levels(df$Sex))))

[1] "Levels of Sex: F, M"

In [7]:
Working <- c("Yes","No","No","Yes","Yes","No","Yes")
df2 <- data.frame(row.names = Name,Working) #Name has been already defined in df
print(df2)

         Working
Alex         Yes
Lilly         No
Mark          No
Oliver       Yes
Martha       Yes
Lucas         No
Caroline     Yes

In [8]:
df <- cbind(df,df2)
print("Combining 2 data frame:")
print(df)

[1] "Combining 2 data frame:"
         Age Height Weight Sex Working
Alex      25    177     57   F     Yes
Lilly     31    163     69   F      No
Mark      23    190     83   M      No
Oliver    52    179     75   M     Yes
Martha    76    163     70   F     Yes
Lucas     49    183     83   M      No
Caroline  26    164     53   F     Yes

In [21]:
print(paste("Dong:", dim(df)[1], ", Cot:", dim(df)[2]))

[1] "Dong: 50 , Cot: 4"

In [22]:
print(str(df))

'data.frame':	50 obs. of  4 variables:
 $ abb: chr  "AL" "AK" "AZ" "AR" ...
 $ are: num  51609 589757 113909 53104 158693 ...
 $ div: Factor w/ 9 levels "New England",..: 4 9 8 5 9 8 1 3 3 3 ...
 $ reg: Factor w/ 4 levels "Northeast","South",..: 2 4 4 2 4 4 1 2 2 2 ...
NULL

**Exercise 2: Tạo và làm việc với dataframe**

In [23]:
a <- (floor(runif(10, -10, 10)))
b <- letters[4:13]
c <- c("yes","no","no","no","no","yes","no","yes","yes","no")

In [24]:
df3 <- data.frame(a,b,c)
print("Data frame:")
print(df3)

[1] "Data frame:"
    a b   c
1   2 d yes
2  -7 e  no
3  -1 f  no
4   7 g  no
5   8 h  no
6   7 i yes
7   8 j  no
8   7 k yes
9  -1 l yes
10 -6 m  no

In [25]:
print("Data frame with column a in order")
print(df3[with (df3, order(a)),] )

[1] "Data frame with column a in order"
    a b   c
2  -7 e  no
10 -6 m  no
3  -1 f  no
9  -1 l yes
1   2 d yes
4   7 g  no
6   7 i yes
8   7 k yes
5   8 h  no
7   8 j  no

In [26]:
matrix.data <- matrix(1:40, nrow = 10, ncol = 4)

In [27]:
print("Data frame form matrix:")
df <- as.data.frame(matrix.data)

[1] "Data frame form matrix:"

In [28]:
colnames(df) <- sub(" ","",paste("variable_", 1:ncol(df)))
rownames(df) <- sub(" ", "",paste("id_", 1:nrow(df)))
print(df)

      variable_1 variable_2 variable_3 variable_4
id_1           1         11         21         31
id_2           2         12         22         32
id_3           3         13         23         33
id_4           4         14         24         34
id_5           5         15         25         35
id_6           6         16         26         36
id_7           7         17         27         37
id_8           8         18         28         38
id_9           9         19         29         39
id_10         10         20         30         40

**Exercise 3: Làm việc với dataframe**

In [29]:
print(head(state.x77))
print(paste("Data type:",class(state.x77)))

           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766
[1] "Data type: matrix" "Data type: array"

In [30]:
df <- data.frame(state.x77)
print(head(df))

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [31]:
print(paste("Number of states income < 4300:", nrow(df[df$Income < 4300,])))
df[df$Income < 4300,]

[1] "Number of states income < 4300: 20"

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
               Area
Alabama         50708
Arkansas        51945
Georgia         58073
Idaho           82677
Kentucky        39650
Louisiana       44930
Maine           30920
Mississippi     47296
Missouri        68995
New Hampshire    9027
New Mexico     121412
North Carolina  48798
Oklahoma        68782
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
West Virginia   24070

In [32]:
ma <-df[which.max(df$Income),][2]
print(paste("state has max income:",row.names(df[which.max(df$Income),]),toString(ma)))

[1] "state has max income: Alaska 6315"

In [33]:
ma <-df[which.max(df$Life.Exp),][4]
print(paste("state has highest life.exp:",
row.names(df[which.max(df$Life.Exp),]),
toString(ma)))

[1] "state has highest life.exp: Hawaii 73.6"

In [34]:
ma <-df[which.min(df$Life.Exp),][4]
print(paste("state has lowest life.exp:",
row.names(df[which.min(df$Life.Exp),]),
toString(ma)))

[1] "state has lowest life.exp: South Carolina 67.96"

**Exercise 4: Làm việc với dataframe**

In [35]:
df <- data.frame(state.abb, state.area, state.division, state.region,
row.names = state.name)
print("Data frame:")
print(head(df))

[1] "Data frame:"
           state.abb state.area     state.division state.region
Alabama           AL      51609 East South Central        South
Alaska            AK     589757            Pacific         West
Arizona           AZ     113909           Mountain         West
Arkansas          AR      53104 West South Central        South
California        CA     158693            Pacific         West
Colorado          CO     104247           Mountain         West

In [36]:
colnames(df) <- substr(colnames(df), 7, 9)
print("After rename:")
print(head(df))

[1] "After rename:"
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [37]:
df_new <- cbind(state.x77, df)
print("New data frame:")
print(head(df_new))

[1] "New data frame:"
           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [38]:
df_new$div <- NULL

In [39]:
df_new <- subset(df_new,select = -c(4, 6, 7, 9, 10))
print("After drop div, Life Exp, HS Grad, Frost, abb, and are:")
print(head(df_new))

[1] "After drop div, Life Exp, HS Grad, Frost, abb, and are:"
           Population Income Illiteracy Murder   Area   reg
Alabama          3615   3624        2.1   15.1  50708 South
Alaska            365   6315        1.5   11.3 566432  West
Arizona          2212   4530        1.8    7.8 113417  West
Arkansas         2110   3378        1.9   10.1  51945 South
California      21198   5114        1.1   10.3 156361  West
Colorado         2541   4884        0.7    6.8 103766  West

In [40]:
df_new$Illiteracy.Levels <- ifelse(df_new$Illiteracy >= 0 &
df_new$Illiteracy < 1,
"Low",
ifelse(df_new$Illiteracy >= 1
& df_new$Illiteracy < 2,
"Some",
"High"))
print("After insert Illiteracy.Levels:")
print(head(df_new))

[1] "After insert Illiteracy.Levels:"
           Population Income Illiteracy Murder   Area   reg Illiteracy.Levels
Alabama          3615   3624        2.1   15.1  50708 South              High
Alaska            365   6315        1.5   11.3 566432  West              Some
Arizona          2212   4530        1.8    7.8 113417  West              Some
Arkansas         2110   3378        1.9   10.1  51945 South              Some
California      21198   5114        1.1   10.3 156361  West              Some
Colorado         2541   4884        0.7    6.8 103766  West               Low

In [41]:
print(paste("Number of Regions:", nlevels(df_new$reg), ". There are:",
toString(levels(df_new$reg))))

[1] "Number of Regions: 4 . There are: Northeast, South, North Central, West"

**Exercise 5: Sử dụng function trong package tidyverse**

In [42]:
library(tidyverse)

In [43]:
#https://drive.google.com/file/d/1jM41Gcrrf8fvAj0ipFj1ETgdhkd1Zh6e/view?usp=sharing
system('gdown --id 1jM41Gcrrf8fvAj0ipFj1ETgdhkd1Zh6e')

In [44]:
data <- read.csv('Obesity_data.csv')
print(head(data))

  id gender height weight  bmi age  bmc  bmd   fat  lean pcfat
1  1      F    150     49 21.8  53 1312 0.88 17802 28600  37.3
2  2      M    165     52 19.1  65 1309 0.84  8381 40229  16.8
3  3      F    157     57 23.1  64 1230 0.84 19221 36057  34.0
4  4      F    156     53 21.8  56 1171 0.80 17472 33094  33.8
5  5      M    160     51 19.9  54 1681 0.98  7336 40621  14.8
6  6      F    153     47 20.1  52 1358 0.91 14904 30068  32.2

In [45]:
# c1
data1 = data %>% select(c(2,3,4,5,6))
print(head(data1))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [46]:
# c2
data11 = data %>% select(gender, height, weight, bmi, age)
head(data11)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [54]:
data2 = data1 %>% filter(bmi >=18.5, bmi <=24.9)
print(head(data2))

  gender height weight  bmi age height_m
1      F    150     49 21.8  53     1.50
2      M    165     52 19.1  65     1.65
3      F    157     57 23.1  64     1.57
4      F    156     53 21.8  56     1.56
5      M    160     51 19.9  54     1.60
6      F    153     47 20.1  52     1.53

In [55]:
print(paste("Rows have bmi >=18.5 and <=24.9: ", nrow(data2)))

[1] "Rows have bmi >=18.5 and <=24.9:  865"

In [56]:
data1 = mutate(data1, height_m = height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [57]:
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [58]:
group = group_by(data1, gender)
summary = summarize(group,
count = n(),
mean.height = mean(height, na.rm = T),
mean.weight = mean(weight, na.rm = T)
)
summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [59]:
count(data1, gender)

  gender n
1 F      862
2 M      355

In [60]:
group_gender_age = count(data1, gender, age)
head(group_gender_age)
tail(group_gender_age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

    gender age n
138 M      82  1
139 M      83  1
140 M      84  3
141 M      85  1
142 M      87  1
143 M      88  1

In [61]:
data3 = data1 %>% sample_n(10)
data3

   gender height weight bmi  age height_m
1  M      165    48     17.6 23  1.65
2  F      154    47     19.8 29  1.54
3  F      142    60     29.8 70  1.42
4  M      164    49     18.2 65  1.64
5  M      174    76     25.1 49  1.74
6  F      148    43     19.6 39  1.48
7  F      145    54     25.7 77  1.45
8  F      154    50     21.1 64  1.54
9  F      159    61     24.1 43  1.59
10 F      155    37     15.4 44  1.55

In [52]:
data4 = data %>% sample_frac(0.01) # 1 percentages

In [53]:
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   974 M      168    65     23.0 55  1736 0.97 15337 45882 24.4
2    56 F      156    54     22.2 64  1287 0.84 21264 30774 39.9
3   388 F      152    48     20.8 34  2039 1.20 13358 31857 28.3
4   738 F      149    50     22.5 36  1516 0.98 19165 29241 38.4
5    48 F      145    48     22.8 46  1787 1.13 17192 28227 36.4
6  1188 M      168    52     18.4 58  2076 1.10 10281 39559 19.8
7   254 F      152    51     22.1 55  1394 0.89 20330 27466 41.3
8  1049 F      151    54     23.7 69  1383 0.92 19567 32160 36.8
9   524 F      158    49     19.6 23  1828 1.04 13462 32529 28.2
10 1044 M      161    62     23.9 59  2118 1.06 16007 43887 25.8
11  675 F      154    53     22.3 20  1704 1.06 23155 32121 40.6
12  448 F      155    45     18.7 23  1733 1.06 11706 30119 26.9